//= require_tree .
//= require_self
//= require font-awesome

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Meiryo","メイリオ","Osaka","MS PGothic",arial,helvetica,sans-serif;
}

$menu-foreground: #efefff;
$menu-background: #023550;
$menu-background-lighter: #028A9E;
$chat-background: #fff;
$chat-foreground: #333;
$chat-linkcolor: #594735;

.global_nav {
  ul {
    display: flex;
    justify-content: flex-end;
    background-color: $menu-background;
    color: $menu-foreground;
    li {
      list-style: none;
      display: block;
      a {
        padding: 8px 16px;
        display: inline-block;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        &:link, &:visited {
          color: $menu-foreground;
          text-decoration: none;
        }
        &:active, &:hover{
          background-color: $menu-background-lighter;
          color: $menu-foreground;
          text-decoration: none;
        }
      }
    }
  }
}

input[type=submit] {
  background-color: #585A52;
  border: none;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

@mixin flash_base {
  padding: 16px;
  border: 2px solid red;
  border-radius: 8px;
  font-size: 0.8rem;
  max-width: 800px;
  margin: 32px auto;
}

.flash_error {
  @include flash_base;
  color: rgb(58, 135, 173);
  border-color: rgb(58, 135, 173);
  background-color: rgb(217, 237, 247);
}

.flash_alert {
  @include flash_base;
  color: rgb(185, 74, 72);
  border-color: rgb(185, 74, 72);
  background-color: rgb(242, 222, 222);
}
