$form-height: 80px;

.timeline_area {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: $form-height;
}

.message_post_form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $form-height;
  display: flex;
  textarea {
    flex-grow: 1;
    padding: 8px;
  }
  input[type=submit] {
    width: $form-height;
    cursor: pointer;
  }
}
