$form-height: 80px;

.timeline_area {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: $form-height;
  overflow-y: scroll;
  .message {
    flex: 0 0 auto;
    border-bottom: 1px solid #888;
    padding: 4px;
    min-height: 64px;
    list-style: none;
    transition-duration: 300ms;
    .avatar {
      float: left;
      display: block;
      margin-right: 8px;
    }
    .full_name_and_name {
      .full_name {
        font-weight: bold;
      }
      .name {
      }
    }
    .created_at {
      float: right;
      color: #888;
      font-size: .9rem;
    }
  }
}

.message_post_form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $form-height;
  display: flex;
  textarea {
    flex-grow: 1;
    padding: 8px;
  }
  input[type=submit] {
    width: $form-height;
    cursor: pointer;
  }
}
