.user-container {
  width: 512px;
  margin: 32px auto;
  .field {
    margin: 16px 0;
  }
  h2 {
    font-weight: normal;
  }
  form {
    input[type=text], [type=email], input[type=password] {
      display: block;
      width: 100%;
      line-height: 2rem;
      padding: 0 8px;
    }
  }
}
